:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem !important;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.validate-form-error {
  border: 1px solid red !important;
}
.primary {
  background-color: #289373 !important;
  color: #f5f5f5 !important ;
}

a {
  text-decoration: none !important;
}
