:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem !important;
  background-color: #e3efeb !important;
}

.validate-form-error {
  border: 1px solid red !important;
}
.primary {
  background-color: #289373 !important;
  color: #f5f5f5 !important ;
}

a {
  text-decoration: none !important;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout {
  height: 100vh !important;
}

.ant-layout-content {
  min-height: 1000px !important;
}

.header {
  padding: 15px;
  color: #333;
  font-weight: bold;
  margin-bottom: 100px;
  height: 63px;
  font-size: 1.6rem !important;
  .btn-header {
    font-size: 1.6rem;
  }
}
