@charset "UTF-8";
//@import "~flickity/css/flickity";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';
@import '~animate.css/animate.min.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~react-datepicker/dist/react-datepicker.css';

@import 'get_scss/libs/_calendar';
@import 'get_scss/settings/_global';
@import 'get_scss/settings/_colors';
@import 'get_scss/tools/_mixins';
@import 'get_scss/components/_carousel';
@import 'get_scss/components/_dropdown';
@import 'get_scss/tools/_icons';
@import 'get_scss/generic/_box-sizing';
@import 'get_scss/generic/_normalize';
@import 'get_scss/generic/_reset';
@import 'get_scss/generic/_shared';
@import 'get_scss/elements/_headings';
@import 'get_scss/elements/_images';
@import 'get_scss/elements/_lists';
@import 'get_scss/objects/_animations';
@import 'get_scss/objects/_media';
@import 'get_scss/objects/_wrappers';
@import 'get_scss/components/_common';
@import 'get_scss/components/_header';
@import 'get_scss/components/_body';
@import 'get_scss/components/_footer';
@import 'get_scss/components/_icon';
@import 'get_scss/components/_button';
@import 'get_scss/components/_menu';
@import 'get_scss/components/_typography';
@import 'get_scss/components/_slider';
@import 'get_scss/components/_section';
@import 'get_scss/components/_login';
@import 'get_scss/components/_form';
@import 'get_scss/components/_calendar';
@import 'get_scss/components/_lists';
@import 'get_scss/components/_responsive';
@import 'get_scss/components/_fixBrowser';

@import 'get_scss/utilities/_background';
@import 'get_scss/utilities/_display';
@import 'get_scss/utilities/_spacing';
@import 'get_scss/utilities/_widths';
@import 'font-awesome/css/font-awesome.min.css';

.validate-form-error {
  border: 1px solid red !important;
}

.form-control {
  background-color: white !important;
}

.require {
  color: red;
}
