.slide-show {
  width: 100%;
  height: 300px;
}

.img-brand {
  width: 148px;
  height: 42px;
  border: 1px solid gray;
}

.list-product {
  padding-left: 0px !important;
  margin-left: -8px;
}

.title-new {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.9rem;
}
