.title-form {
  min-width: 128px;
}
.form-control {
  font-size: 1.6rem;
}

.icon-add:hover {
  cursor: pointer;
  color: gray;
}

.avatar-uploader > .ant-upload {
  width: 100%;
  height: 280px;
}

.avatar-uploader {
  margin-left: 20px;
}

.img-color {
  margin-right: 100px !important;
  position: relative;
}
.img-spre::after {
  content: "";
  display: block;
  position: absolute;
  height: 1;
  width: 1100px;
  right: -500px;
  bottom: -20px;
  border-bottom: 2px solid gray;
}

.icon-edit:hover {
  cursor: pointer;
  color: gray;
}
