.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    justify-content: space-between;
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      &-search {
        cursor: pointer;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
      }
      &-search:hover,
      &-user:hover {
        color: rgba(0, 0, 0, 0.3);
      }
      &-search::after {
        content: "";
        position: absolute;
        display: block;
        right: -10px;
        top: 50%;
        border-left: 1px solid #333;
        height: 15px;
        transform: translateY(-50%);
      }
      &-user {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  font-size: 30px;
  margin-right: 5px;
}

.ant-layout-header {
  background-color: rgba(255, 255, 255, 1) !important;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(0, 0, 0, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
[data-theme="light"] .site-layout-content {
  background: #f7f7f7;
}
[data-theme="light"] .logo {
  background: rgba(0, 0, 0, 0.3);
}

.header {
  font-size: 1.5rem;
}
