.dateOfBirth {
  display: block;
  margin-bottom: 5px;
}

.ant-picker {
  width: 450px;
}
.ant-space {
  padding-left: 0px !important;
}

.img-preview {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.btn-size {
  font-size: 1.6rem;
}
