.login-form-forgot {
  cursor: pointer;
  color: #289373;
}

.login-form-forgot:hover {
  color: rgba(#289373, 0.5);
}

.register {
  font-size: 16px;
  font-weight: bold;
}

.login-form-button:hover {
  background-color: rgba(#289373, 0.9) !important;
}

.btn-social {
  height: 32px;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  &-facebook {
    background-color: #3b5998;
  }
  &-google {
    background-color: #df4a32;
  }
  &-facebook:hover {
    background-color: rgba(#3b5998, 0.9);
  }
  &-google:hover {
    background-color: rgba(#df4a32, 0.9);
  }
}

.icon {
  font-size: 20px;
}
